
<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                                                            {{ category.name }}
                                  </td>
          </tr>
          <tr>
            <th>Label</th>
            <td>
                                                            {{ category.label }}
                                  </td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
                                                            {{ category.description|raw }}
                                  </td>
          </tr>
          
                                                                  <tr>
                <th>Podcast</th>
                <td>
                  {% if category.podcasts|length > 0 %}
                  <ul>
                      {% for podcast in category.podcasts %} 
                      <li>
                          <a href='{{ path("podcast_show", {"id":podcast.id }) }}'>
                              {{ podcast }}
                          </a>
                      </li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                </td>
              </tr>
          <tr>
        <th>Created</th>
        <td>{{ category.created|date }}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td>{{ category.updated|date }}</td>
    </tr>
    </tbody>
</table>


