<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Fullname</th>
            <td>
                {{ person.fullname }}
            </td>
        </tr>
        <tr>
            <th>Sortable Name</th>
            <td>
                {{ person.sortableName }}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {{ person.location }}
            </td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>
                {{ person.bio|raw }}
            </td>
        </tr>
        <tr>
            <th>Links</th>
            <td>
                {% if person.links %}
                    <ul>{% for link in person.links %}
                            <li><a href='{{ link }}'>{{ link }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>Institution</th>
            <td>
                {% if person.institution %}
                    <a href='{{ path("institution_show", {"id": person.institution.id}) }}'>{{ person.institution }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Contributions</th>
            <td>
                {% if person.contributions|length > 0 %}
                    <ul>
                        {% for contribution in person.contributions %}
                            <li>
                                <a href='{{ path("contribution_show", {"id":contribution.id }) }}'>
                                    {{ contribution }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ person.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ person.updated|date }}</td>
        </tr>
    </tbody>
</table>


