<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Person</th>
            <th>Role</th>
            <th>Episode</th>
            <th>Season</th>
            <th>Podcast</th>
        </tr>
    </thead>
    <tbody>
        {% for contribution in contributions %}
            <tr>
                <td>
                    <a href="{{ path('contribution_show', { 'id': contribution.id }) }}">
                        {{ contribution.id }}
                    </a>
                </td>
                <td>
                    {{ contribution.person }}
                </td>
                <td>
                    {{ contribution.contributorRole }}
                </td>
                <td>
                    {{ contribution.episode }}
                </td>
                <td>
                    {{ contribution.season }}
                </td>
                <td>
                    {{ contribution.podcast }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
