{% extends 'base.html.twig' %}

{% block title %}Publisher List{% endblock %}

{% block pageheader %}
    <h1>Publisher List</h1>
    <p class="count">
        Displaying {{ publishers|length }} publishers of {{ publishers.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
            <a href="{{ path('publisher_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}

            <a href="{{ path('publisher_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'publisher/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(publishers) }}
    </div>

{% endblock %}
