{% extends 'base.html.twig' %}

{% block title %}Audio List{% endblock %}

{% block pageheader %}
    <h1>Audio List</h1>
    <p class="count">
        Displaying {{ audio|length }} audio of {{ audio.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('audio_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Original Name</th>
                <th>Episode</th>
                <th>Mime Type</th>
            </tr>
        </thead>
        <tbody>
            {% for audio in audio %}
                <tr>
                    <td>
                        <a href="{{ path('audio_show', { 'id': audio.id }) }}">
                            {{ audio.originalName }}
                        </a>
                    </td>
                    <td>
                        {{ audio.episode.podcast }} {{ audio.episode.slug }}
                    </td>

                    <td>
                        {{ audio.mimeType }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(audio) }}
    </div>

{% endblock %}
