<?xml version="1.0" encoding="UTF-8"?>
<mods xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd"
        version="3.5">
    <titleInfo>
        <title>{{ object.podcast.title }} {{ object.slug }}: {{ object.title }}</title>
    </titleInfo>
    {% if object.subTitle %}
    <titleInfo type='alternative'>
        <title>{{ object.subTitle }}</title>
        <partNumber>{{ object.slug }}</partNumber>
        <partName>{{ object.podcast.title }}</partName>
        <partNumber>{{ object.season.title }}</partNumber>
    </titleInfo>
    {% endif %}

    {% set contributions = object.podcast.contributions|merge(object.season.contributions) %}
    {% for contribution in contributions %}
        {% set role = contribution.contributorRole %}
        {% set person = contribution.person %}
        <name>
            <namePart>{{ person.fullName }}</namePart>
            {% if person.institution %}<affiliation>{{ person.institution}}</affiliation>{% endif %}
            <role>
                {% if role.relatorTerm %}<roleTerm type='code' authority='marcrelator'>{{ role.relatorTerm }}</roleTerm>{% endif %}
                <roleTerm  type="text" authority="marcrel">{{ role.label }}</roleTerm>
            </role>
        </name>
    {% endfor %}

    {% for contribution in object.contributions %}
        {% set role = contribution.contributorRole %}
        {% set person = contribution.person %}
        <name>
            <namePart>{{ person.fullName }}</namePart>
            {% if person.institution %}<affiliation>{{ person.institution}}</affiliation>{% endif %}
            <role>
                {% if role.relatorTerm %}<roleTerm type='code' authority='marcrelator'>{{ role.relatorTerm }}</roleTerm>{% endif %}
                <roleTerm  type="text" authority="marcrel">{{ role.label }}</roleTerm>
            </role>
            {% if person.bio %}<description>{{ person.bio(true) }}</description>{% endif %}
        </name>
    {% endfor %}

    <typeOfResource>sound recording-nonmusical</typeOfResource>
    <genre>Podcast</genre>

    <physicalDescription>
        <form authority="marcform">sound recording</form>
        <extent unit='minutes'>{{ object.runTime }}</extent>
        <digitalOrigin>born digital</digitalOrigin>
    </physicalDescription>

    <originInfo>
        <dateIssued>{{ object.date|date('Y-m-d') }}</dateIssued>
        <issuance>serial</issuance>
        {% if object.season.publisher %}
            <publisher>{{ object.season.publisher.name }}</publisher>
        {% elseif object.podcast.publisher %}
            <publisher>{{ object.podcast.publisher.name }}</publisher>
        {% endif %}
    </originInfo>

    {% if object.language %}
        <language>
            <languageTerm type='text'>{{ language }}</languageTerm>
        </language>
    {% endif %}


    <abstract><![CDATA[{{ object.description|raw('xml') }}]]></abstract>

    {% for subject in object.subjects %}
    <subject>
        <topic authority='lcsh' authorityURI="http://id.loc.gov/authorities/subjects">{{ subject }}</topic>
    </subject>
    {% endfor %}

    {% for category in object.podcast.categories %}
        <subject>
            <topic authorityURI='https://help.apple.com/itc/podcasts_connect/#/itc9267a2f12'>{{ category }}</topic>
        </subject>
    {% endfor %}

    <accessCondition type='use and reproduction'>{{ object.podcast.copyright|raw|striptags }}</accessCondition>

    <relatedItem type='series'>
        <titleInfo>
            <title>{{ object.podcast.title }}</title>
            <partNumber>{{ object.slug }}</partNumber>
        </titleInfo>
    </relatedItem>
    <identifier type='amplify'>episode:{{ object.id }}:episode</identifier>
</mods>
