{% extends 'base.html.twig' %}

{% block title %}Edit Category {{ category.label }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('category_index') }}">Categories</a></li>
    <li class="breadcrumb-item"><a href="{{ path('category_show', {'id': category.id}) }}">{{ category.label }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
{% endblock %}

{% block body %}
    {% embed 'category/partial/form.html.twig' %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}