{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block pageheader %}
    <h1>Category List</h1>
    <p class="count">
        Displaying {{ categories|length }} categories of {{ categories.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar'>
        <div class='btn-group ms-auto'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('category_new') }}" class="btn btn-light">
                    <span class="bi bi-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('category_search') }}" class="btn btn-light">
                <span class="bi bi-search"></span> Search </a>
        </div>
    </div>

    {% embed '@NinesUtil/term/partial/index.html.twig' with {
        'terms': categories,
        'path': 'category_show',
    } %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(categories) }}
    </div>

{% endblock %}
