{% extends 'base.html.twig' %}

{% block title %}Episode List{% endblock %}

{% block pageheader %}
    <h1>Episode List</h1>
    <p class="count">
        Displaying {{ episodes|length }} episodes of {{ episodes.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
            <a href="{{ path('episode_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            {% endif %}

            <a href="{{ path('episode_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'episode/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(episodes) }}
    </div>

{% endblock %}
