{% extends 'base.html.twig' %}

{% block title %}Episode List{% endblock %}

{% block pageheader %}
    <h1>Episode List</h1>
    <p class="count">
        Displaying {{ episodes|length }} episodes of {{ episodes.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('episode_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('episode_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Publication Date</th>
                <th>Run Time</th>
                <th>Title</th>
                <th>Preserved</th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>
                        <a href='{{ path('episode_show', {'id': episode.id}) }}'>
                            {% if episode.season %}
                                S{{ episode.season.number|format_number({min_integer_digit: 2}) }}
                            {%- endif -%}
                            E{{ episode.number|format_number({min_integer_digit: 2}) }} - {{ episode }}
                        </a>
                    </td>

                    <td>{% if episode.date %}{{ episode.date|date('Y-m-d') }}{% endif %}</td>

                    <td>
                        {{ episode.runTime }}
                    </td>

                    <td>
                        {{ episode.title }}
                    </td>
                    <td>
                        {{ episode.preserved ? 'Yes' : 'No' }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(episodes) }}
    </div>

{% endblock %}
