{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('podcast_index') }}">Podcasts</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_show', {'id': episode.podcast.id}) }}">{{ episode.podcast.title }}</a></li>
    {% if episode.season %}
        <li class="breadcrumb-item"><a href="{{ path('season_show', {'podcast_id': episode.podcast.id, 'id': episode.season.id}) }}">{{ episode.season.title }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">New Episode</li>
{% endblock %}

{% block body %}
    {% embed 'episode/partial/form.html.twig' %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
