{% extends 'base.html.twig' %}

{% block title %}Episode Details {% endblock %}

 {% block pageheader %}
     <h1>Episode Details</h1>
 {% endblock %}

{% block body %}

    <div class='well well-lg'>
    <h2>Audio</h2>
    {% if episode.audio %}
        {% set audio = episode.audio %}

        <div class='row'>
            <div class='col-sm-6'>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <div class='btn-toolbar'>
                        <div class='btn-group'>
                            <a href="{{ path('episode_edit_audio', {'id': episode.id }) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-edit"></span> Replace File</a>
                        </div>
                        <div class='btn-group'>
                            <form class='delete-form' method="post" action="{{ path('episode_delete_audio', {'id': episode.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token("delete_audio_" ~ episode.id) }}">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete File
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                {% endif %}
                <figure>
                    <audio controls src='{{ path('episode_play_audio', {'id': episode.id}) }}' type='{{ audio.mimeType }}'></audio>
                    <figcaption>Listen to the podcast episode</figcaption>
                </figure>
            </div>
            <div class='col-sm-6'>
                <dl class='dl-horizontal'>
                    <dt>Public</dt>
                    <dd>{{ audio.public ? 'Yes' : 'No' }}</dd>
                    <dt>File name</dt>
                    <dd>{{ audio.originalName }}</dd>
                    <dt>Mime type</dt>
                    <dd>{{ audio.mimeType }}</dd>
                    <dt>File size</dt>
                    <dd>{{ audio.fileSize }}</dd>
                </dl>
            </div>
        </div>
    {% else %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="{{ path('episode_new_audio', {'id': episode.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add File</a>
            </div>
        </div>
        <p>No audio yet.</p>
        <div class='clearfix'></div>
    {% endif %}
    </div>

    <h2>Metadata</h2>
    {% if is_granted('ROLE_ADMIN') %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="{{ path('episode_edit', {'id': episode.id }) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span> Edit </a>
            </div>
            <div class='btn-group'>
                <form class='delete-form' method="post" action="{{ path('episode_delete', {'id': episode.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ episode.id) }}">
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                </form>
            </div>
        </div>
    {% endif %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if episode.date %}{{ episode.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Run Time</th>
                <td>{{ episode.runTime }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Alternative Title</th>
                <td>{{ episode.alternativeTitle }}</td>
            </tr>
            <tr>
                <th>Preserved</th>
                <td>
                    {{ season.preserved ? 'Yes' : 'No' }}
                </td>
            </tr>
            <tr>
                <th>Podcast</th>
                <td>
                    <a href='{{ path('podcast_show', {'id': episode.podcast.id}) }}'>
                        {{ episode.podcast }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Season</th>
                <td>
                    {% if episode.season %}
                        <a href='{{ path('season_show', {'id': episode.season.id}) }}'>
                            {{ episode.season }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ episode.language }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{% if episode.tags %}{{ episode.tags|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>References</th>
                <td>{{ episode.references }}</td>
            </tr>
            <tr>
                <th>Copyright</th>
                <td>{{ episode.copyright }}</td>
            </tr>
            <tr>
                <th>Transcript</th>
                <td>{{ episode.transcript }}</td>
            </tr>
            <tr>
                <th>Abstract</th>
                <td>{{ episode.abstract }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ episode.created|date }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ episode.updated|date }}</td>
            </tr>
        </tbody>
    </table>

    {% if episode.contributions|length > 0 %}
        <h2>Contributors</h2>
        <ul>
            {% for contribution in episode.contributions %}
                <li>
                    <a href='{{ path('person_show', {'id': contribution.person.id}) }}'>
                        {{ contribution.person -}}
                    </a>
                    {{ contribution.contributorRole }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
