{% extends 'base.html.twig' %}

{% block title %}Season {{ season.title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_index') }}">Podcasts</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_show', {'id': season.podcast.id}) }}">{{ season.podcast.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ season.title }}</li>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('season_image_new', {'podcast_id': season.podcast.id, 'season_id': season.id }) }}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> New Image
        </a>
        <a href="{{ path('season_edit', {'podcast_id': season.podcast.id, 'id': season.id }) }}" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
        <form class="d-inline-block" method="post" action="{{ path('season_delete', {'podcast_id': season.podcast.id, 'id': season.id }) }}" onsubmit="return confirm('Are you sure you want to delete this season?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete_season" ~ season.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash"></i> Delete</button>
        </form>
    {% endif %}
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-body clearfix">
            <div class="col-auto float-md-end mb-3 ms-md-3" style="max-width: 300px">

                {% for image in season.images %}
                    {% embed '@NinesMedia/image/partial/list-item.html.twig' with {
                        'image': image,
                        'path_show': path('season_image_show', { 'podcast_id': season.podcast.id, 'season_id': season.id, 'id': image.id }),
                        'path_edit': path('season_image_edit', {'podcast_id': season.podcast.id, 'season_id': season.id, 'id': image.id }),
                        'path_delete': path('season_image_delete', {'podcast_id': season.podcast.id, 'season_id': season.id, 'id': image.id }),
                    } %}
                    {% endembed %}
                {% endfor %}
            </div>
            <h1 class="card-title">{{ season.title }}</h1>
            {% if season.subTitle %}<h5 class="card-subtitle">{{ season.subTitle }}</h5>{% endif %}
            {% if season.number %}<h5 class="card-subtitle mt-2">Season {{ season.number }}</h5>{% endif %}
            <div class="card-text my-3">{{ season.description|default('')|sanitize_html }}</div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-3 g-4">
        <div class="col">
            <h6><i class="bi bi-journals"></i> Publisher</h6>
            {% if season.publisher %}
                <a href='{{ path("publisher_show", {"id": season.publisher.id}) }}'>{{ season.publisher }}</a>
            {% endif %}
        </div>
        <div class="col">
            <h6><i class="bi bi-people-fill"></i> Contributions</h6>
            {% for contributions in season.getContributionsGroupedByPerson %}
                {% set person = (contributions|first).person %}
                <div>
                    <a href='{{ path("person_show", {"id":person.id }) }}'>{{ person.fullName }}</a> -
                    {% for contribution in contributions %}
                        <a href='{{ path("contributor_role_show", {"id":contribution.contributorRole.id }) }}'>{{ contribution.contributorRole.label }}</a>{{ not loop.last ? ',' : '' }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h6><i class="bi bi-list-check"></i> Season Status</h6>
            {% embed 'status/partial/badge.html.twig' with {
                'status': season.status,
            } %}
            {% endembed %}
        </div>
        <div class="col">
            <h6><i class="bi bi-calendar-event"></i> Created</h6>
            {{ season.created|date('Y-m-d') }}
        </div>
        <div class="col">
            <h6><i class="bi bi-calendar-event"></i> Last Updated</h6>
            {{ season.updated|date('Y-m-d') }}
        </div>
    </div>

    {% embed 'episode/partial/table.html.twig' with {
        'episodes': season.episodes,
    } %}
    {% endembed %}
    </div>
{% endblock %}
