<button class="btn btn-link text-decoration-none badge rounded-pill text-bg-{{ status|length == 0 ? 'primary' : 'danger' }} position-relative"
    {% if status|length > 1 %}
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-placement="bottom"
        data-bs-content="
            <ul class='list-group list-group-flush'>
                {%- for item in status[:10] -%}
                    <li class='list-group-item text-truncate list-group-item-danger'>
                        <a href='{{ path(item.route, item.route_params) }}' target='_blank' class='link-danger text-decoration-none'>
                            {{ item.label|e('html_attr') }}
                        </a>
                    </li>
                {%- endfor -%}
                {% if status|length > 10 %}
                    <li class='list-group-item text-truncate list-group-item-danger'>
                        ...
                    </li>
                {% endif %}
            </ul>
        "
    {% endif %}
>
    {% if status|length == 0 %}
        <span class="status-badge-label text-truncate link-light text-decoration-none">
            Ready
        </span>
    {% elseif status|length == 1 %}
        {%- set item = status|first -%}
        <a class="status-badge-label text-truncate link-light text-decoration-none" href="{{ path(item.route, item.route_params) }}" target="_blank">
            {{ item.label }}
        </a>
    {% else %}
        <span class="status-badge-label text-truncate">
            {{ status|first.label }}
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">{{ status|length }}</span>
    {%- endif -%}
</button>
