{%- set items = status.errors|merge(status.warnings) -%}
{%- set anchor = items|length == 0 ? 'Ready' : items|keys|first -%}
{%- set label = items|length == 0 ? 'Ready' : items|first -%}
{%- set displayPopover = items|length > 1 -%}
{%- if status.errors|length > 0 -%}
    {%- set itemColor = 'danger' -%}
{%- elseif status.warnings|length > 0 -%}
    {%- set itemColor = 'warning' -%}
{%- else -%}
    {%- set itemColor = 'success' -%}
{%- endif -%}
<button class="btn btn-link text-decoration-none badge rounded-pill text-bg-{{ itemColor }} position-relative"
    {% if displayPopover %}
        data-bs-toggle="popover"
        data-bs-trigger="focus"
        data-bs-placement="bottom"
        data-bs-content="
            <ul class='list-group list-group-flush list-group-numbered'>
                {%- for key, item in items -%}
                    {%- set listItemColor = key in status.errors|keys ? 'danger' : 'warning' -%}
                    <li class='list-group-item text-truncate list-group-item-{{ listItemColor }}'>
                        <a href='{{ edit_link ~ '#' ~ key }}' target='_blank' class='link-{{ listItemColor }} text-decoration-none'>
                            {{ item|e('html_attr') }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        "
    {% endif %}
>
    {%- if displayPopover -%}
        <span class="status-badge-label text-truncate">
            {{ label }}
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">{{ status.errors|length + status.warnings|length }}</span>
    {%- else -%}
        <a class="status-badge-label text-truncate link-light text-decoration-none" href="{{ edit_link ~ '#' ~ anchor }}" target="_blank">
            {{ label }}
        </a>
    {%- endif -%}
</button>

