<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Message</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for export in exports %}
            <tr>
                <td>{{ export.status }}</td>
                <td>{{ export.message }}</td>
                <td>{{ export.created|date }}</td>
                <td>{{ export.updated|date }}</td>
                <td>
                    <div class='btn-toolbar pull-right'>
                        {% if export.isSuccess %}
                        <div class='btn-group'>
                            <a href="#" class="btn btn-primary">
                                <span class="glyphicon glyphicon-download"></span> Download</a>
                        </div>
                        {% endif %}
                        {% if export.isFinished  %}
                        <div class='btn-group'>
                            <form class='delete-form delete-export-{{ export.id }}' method="post" action="{{ path('export_delete', {'id': export.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ export.id) }}">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class='clearfix'></div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
