{% form_theme form with [
    '@NinesUtil/form/bootstrap_5_table_of_contents.html.twig',
    '@TetranzSelect2Entity/Form/fields.html.twig',
    'jquery.collection.html.twig',
] %}
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 text-center">
    {% if podcast.id is null %}
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="{{ path('podcast_index') }}" class="btn btn-warning"> Cancel </a>
    {% else %}
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="{{ path('podcast_show', { 'id': podcast.id }) }}" class="btn btn-warning"> Cancel </a>
    {% endif %}
</div>
{{ form_end(form, {
    render_rest: true,
    table_of_contents_submit: {
        label: podcast.id is null ? 'Create' : 'Update',
    },
    table_of_contents_cancel: {
        path: podcast.id is null ? path('podcast_index') : path('podcast_show', { 'id': podcast.id }),
    },
}) }}
