{% extends '@NinesMedia/pdf/show.html.twig' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_index') }}">Podcasts</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_show', {'id': entity.podcast.id}) }}">{{ entity.podcast.title }}</a></li>
    {% if entity.season %}
        <li class="breadcrumb-item"><a href="{{ path('season_show', {'podcast_id': entity.podcast.id, 'id': entity.season.id}) }}">{{ entity.season.title }}</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="{{ path('episode_show', {'podcast_id': entity.podcast.id, 'id':entity.id}) }}">{{ entity.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ pdf.originalName }}</li>
{% endblock %}

{% block body %}
    <figure class="text-center">
        <img src="{{ path('nines_media_pdf_thumb', {'id': pdf.id}) }}" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">{{ pdf.originalName }}</figcaption>
    </figure>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-3 g-4">
        <div class="col">
            <h6><i class="bi bi-file-earmark"></i> PDF Size</h6>
            {{ pdf.fileSize|byte_size }}
        </div>
        <div class="col">
            <h6><i class="bi bi-calendar-event"></i> Created</h6>
            {{ pdf.created|date('Y-m-d') }}
        </div>
        <div class="col">
            <h6><i class="bi bi-calendar-event"></i> Last Updated</h6>
            {{ pdf.updated|date('Y-m-d') }}
        </div>
        <div class="col">
            <h6><i class="bi bi-info-circle"></i> Description</h6>
            {{ pdf.description|default('')|sanitize_html }}
        </div>
        <div class="col">
            <h6><i class="bi bi-list-task"></i> License</h6>
            {{ pdf.license|default('')|sanitize_html }}
        </div>
    </div>
{% endblock %}