{% extends 'base.html.twig' %}

{% block title %}Contributor Role List{% endblock %}

{% block pageheader %}
    <h1>Contributor Role List</h1>
    <p class="count">
        Displaying {{ contributor_roles|length }} contributor_roles of {{ contributor_roles.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar'>
        <div class='btn-group ms-auto'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('contributor_role_new') }}" class="btn btn-light">
                    <span class="bi bi-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('contributor_role_search') }}" class="btn btn-light">
                <span class="bi bi-search"></span> Search </a>
        </div>
    </div>

    {% embed '@NinesUtil/term/partial/index.html.twig' with {
        'terms': contributor_roles,
        'path': 'contributor_role_show',
    } %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(contributor_roles) }}
    </div>

{% endblock %}
