{% extends 'base.html.twig' %}

{% block title %}Person List{% endblock %}

{% block pageheader %}
    <h1>Person List</h1>
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('person_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('person_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fullname</th>
                <th>Sortable Name</th>
                <th>Affiliation</th>
                <th>Location</th>
                <th>Bio</th>
                <th>Links</th>

            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>

                    <td>
                        <a href="{{ path('person_show', { 'id': person.id }) }}">
                            {{ person.id }}
                        </a>
                    </td>
                    <td>
                        {{ person.fullname }}
                    </td>

                    <td>
                        {{ person.sortableName }}
                    </td>

                    <td>
                        {{ person.affiliation }}
                    </td>

                    <td>
                        {{ person.location }}
                    </td>

                    <td>
                        {{ person.bio }}
                    </td>

                    <td>{% if person.links %}{{ person.links|join(', ') }}{% endif %}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
