<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Number</th>
            <td>
                {{ episode.number }}
            </td>
        </tr>
        <tr>
            <th>Preserved</th>
            <td>
                {% if episode.preserved %}Yes{% else %}No{% endif %}
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                {% if episode.date %}{{ episode.date|date('Y-m-d') }}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Run Time</th>
            <td>
                {{ episode.runTime }}
            </td>
        </tr>
        <tr>
            <th>Title</th>
            <td>
                {{ episode.title }}
            </td>
        </tr>
        <tr>
            <th>Alternative Title</th>
            <td>
                {{ episode.subTitle }}
            </td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                {% if episode.tags %}{{ episode.tags|join(', ') }}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Bibliography</th>
            <td>
                {{ episode.bibliography|raw }}
            </td>
        </tr>
        <tr>
            <th>Copyright</th>
            <td>
                {{ episode.copyright|raw }}
            </td>
        </tr>
        <tr>
            <th>Transcript</th>
            <td>
                {{ episode.transcript|raw }}
            </td>
        </tr>
        <tr>
            <th>Abstract</th>
            <td>
                {{ episode.abstract|raw }}
            </td>
        </tr>
        <tr>
            <th>Season</th>
            <td>
                {% if episode.season %}
                    <a href='{{ path("season_show", {"id": episode.season.id}) }}'>{{ episode.season }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Podcast</th>
            <td>
                <a href='{{ path("podcast_show", {"id": episode.podcast.id}) }}'>{{ episode.podcast }}</a>
            </td>
        </tr>
        <tr>
            <th>Language</th>
            <td>
                {% if episode.languages|length > 0 %}
                    <ul>
                        {% for language in episode.languages %}
                            <li>
                                <a href='{{ path("language_show", {"id":language.id }) }}'>
                                    {{ language }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>
                {% if episode.subjects|length > 0 %}
                    <ul>
                        {% for subject in episode.subjects %}
                            <li>
                                <a href='{{ path('episode_index', {'q': subject}) }}'>{{ subject }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Contribution</th>
            <td>
                {% if episode.contributions|length > 0 %}
                    <ul>
                        {% for contribution in episode.contributions %}
                            <li>
                                {{ contribution }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ episode.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ episode.updated|date }}</td>
        </tr>
    </tbody>
</table>
