{% form_theme form with [
    '@NinesUtil/form/bootstrap_5_table_of_contents.html.twig',
    '@TetranzSelect2Entity/Form/fields.html.twig',
    'jquery.collection.html.twig',
] %}
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        {% if episode.id is null %}
            <input type="submit" value="Create" class="btn btn-primary" />
            <a href="{{ path('podcast_show', { 'id': episode.podcast.id }) }}" class="btn btn-warning"> Cancel </a>
        {% else %}
            <input type="submit" value="Update" class="btn btn-primary" />
            <a href="{{ path('episode_show', { 'podcast_id': episode.podcast.id, 'id': episode.id }) }}" class="btn btn-warning"> Cancel </a>
        {% endif %}
    </div>
</div>
{{ form_end(form) }}

