  <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
          <tr>
              <th>ID</th>                                       <th>Number</th>
                                                         <th>Preserved</th>
                                                         <th>Date</th>
                                                         <th>Run Time</th>
                                                         <th>Title</th>
                                                         <th>Alternative Title</th>
                                                         <th>Tags</th>
                                                         <th>Bibliography</th>
                                                         <th>Copyright</th>
                                                         <th>Transcript</th>
                                                         <th>Abstract</th>
                  
          </tr>
      </thead>
      <tbody>
      {% for episode in episodes %}
          <tr>
              <td>
                  <a href="{{ path('episode_show', { 'id': episode.id }) }}">
                      {{ episode.id }}
                  </a>
              </td>
              <td>
                  {{ episode.number }}
              </td>
          
              <td>{% if episode.preserved %}Yes{% else %}No{% endif %}</td>

          
          
              <td>{% if episode.date %}{{ episode.date|date('Y-m-d') }}{% endif %}</td>
          
              <td>
                  {{ episode.runTime }}
              </td>
          
              <td>
                  {{ episode.title }}
              </td>
          
              <td>
                  {{ episode.alternativeTitle }}
              </td>
          
              <td>{% if episode.tags %}{{ episode.tags|join(', ') }}{% endif %}</td>
          
              <td>
                  {{ episode.bibliography|raw }}
              </td>
          
              <td>
                  {{ episode.copyright|raw }}
              </td>
          
              <td>
                  {{ episode.transcript|raw }}
              </td>
          
              <td>
                  {{ episode.abstract|raw }}
              </td>
          
          </tr>
      {% endfor %}
      </tbody>
  </table>
  