{% set statusColor = import.isActive ? '' : (import.isSuccess ? 'text-success' : 'text-danger') %}
{% set progressBarClass = import.isActive ? 'progress-bar-striped progress-bar-animated' : (import.isSuccess ? 'bg-success' : 'bg-danger') %}
<figure>
    <div class="progress">
        <div class="progress-bar {{ progressBarClass }}" style="width: {{ import.progress ?? 0 }}%"
             role="progressbar" aria-label="RSS Import Progress" aria-valuenow="{{ import.progress ?? 0 }}" aria-valuemin="0" aria-valuemax="100">
            {{ import.progress ?? 0 }}%
        </div>
    </div>
    <figcaption class="figure-caption {{ statusColor }}">
        {% if import.status == 'PENDING' %}
            Job Queued
        {% elseif import.status == 'WORKING' %}
            Job In Progress
        {% elseif import.status == 'SUCCESS' %}
            Job Successfully Completed
        {% elseif import.status == 'FAILURE' %}
            Job Failed
        {% endif %}
        {% if import.isActive %}
            - Started <abbr title="{{ import.created|date }}">{{ import.created|ago }}</abbr>
        {% else %}
            - Finished <abbr title="{{ import.updated|date }}">{{ import.updated|ago }}</abbr>
        {% endif %}
        <p>{{ import.message }}</p>
    </figcaption>
</figure>
{% if import.isActive %}
    <p class="card-text">The import job may take several minutes to complete.</p>
{% endif %}
{% if import.isActive %}
    <div class="d-grid" aria-busy="true">
        <div class="noise mx-auto">
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            <i></i><i></i>
        </div>
    </div>
{% elseif import.podcast %}
    <a class="btn btn-primary btn-lg" href="{{ path('podcast_show', {id: import.podcast.id}) }}">View Podcast</a>
{% endif %}