<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />
        <title>{% block title %}Amplify Podcast Network{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap-icons/font/bootstrap-icons.css') }}">

        <link rel="stylesheet" href="{{ asset('css/base.css') }}">

        <link href="{{ asset('node_modules/select2/dist/css/select2.min.css') }}" rel="stylesheet">
        <link href='{{ asset('node_modules/jquery-ui-dist/jquery-ui.css') }}' rel='stylesheet'>

        <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src='{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}'></script>
        <script src="{{ asset('node_modules/select2/dist/js/select2.full.min.js') }}"></script>

        <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <script src="{{ asset('node_modules/symfony-collection/jquery.collection.js') }}"></script>
        <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/form.js') }}"></script>

        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand bg-light fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbar" class="collapse navbar-collapse">
                    {{ knp_menu_render('main') }}
                    {% if is_granted('ROLE_ADMIN') %}{{ knp_menu_render('nines_media') }}{% endif %}
                    {{ knp_menu_render('nines_user_nav') }}
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">

            {% if block('pageheader') is defined %}
                <div class="mb-4 border-bottom">
                    {{ block('pageheader') }}
                </div>
            {% endif %}

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p>
                    <b>Amplify Podcast Network</b> <br />
                    <a href="{{ asset('docs/sphinx/index.html') }}">Documentation</a> | <a href="{{ path('privacy') }}">Privacy</a>
                    |
                </p>
            </div>
        </footer>

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
