<?xml version="1.0" encoding="UTF-8"?>
<mods xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd"
        version="3.5">
    {% embed 'export/format/mods/partial/identifier_episode.xml.twig' with {
        'episode': episode,
    } %}{% endembed %}

    {% for contribution in contributions %}
    {% embed 'export/format/mods/partial/contribution.xml.twig' with {
        'person': contribution.person,
        'roles': contribution.roles,
    } %}{% endembed %}
    {% endfor %}

    {% if episode.language %}
    {% embed 'export/format/mods/partial/language.xml.twig' with {
        'language': episode.language,
    } %}{% endembed %}
    {% endif %}

    <targetAudience authority="marctarget">{{ episode.explicit ? 'adult' : 'general' }}<targetAudience>
    <typeOfResource>sound recording-nonmusical</typeOfResource>
    <physicalDescription>
        <form authority="marcform">electronic</form>
        <form authority="marcform">sound recording</form>
        <extent>1 podcast episode; {{ episode.audios|length }} audio file(s); {{ episode.images|length }} image file(s); {{ episode.pdfs|length }} pdf file(s); runtime {{ episode.runTime }}</extent>
        <digitalOrigin>born digital</digitalOrigin>
    </physicalDescription>
    <originInfo eventType="publication">
        <dateIssued encoding="iso8601">{{ episode.date|date('Y-m-d') }}</dateIssued>
        <dateCaptured encoding="iso8601">{{ episode.updated|date('Y-m-d') }}</dateCaptured>
        <issuance>serial</issuance>
        {% if episode.season.publisher %}
        <publisher>{{ episode.season.publisher.name }}</publisher>
        {% elseif episode.podcast.publisher %}
        <publisher>{{ episode.podcast.publisher.name }}</publisher>
        {% endif %}
    </originInfo>

    <genre authority="lcsh" valueURI="https://id.loc.gov/authorities/genreForms/gf2011026450">Podcasts</genre>
    <genre authority="marcgt">nonmusical sound</genre>
    {% embed 'export/format/mods/partial/subjects_episode.xml.twig' with {
        'episode': episode,
    } %}{% endembed %}
    {% embed 'export/format/mods/partial/subjects_podcast.xml.twig' with {
        'podcast': episode.podcast,
    } %}{% endembed %}

    {% if episode.podcast.copyright %}
    <accessCondition type="use and reproduction">
        {{ episode.podcast.copyright|html2txt }}
    </accessCondition>
    {% endif %}

    {% if episode.description %}
    <abstract type="summary" displayLabel="Episode Content description">
        {{ episode.description|html2txt }}
    </abstract>
    {% endif %}
    {% if episode.permissions %}
    <abstract displayLabel="Episode Permissions">
        {{ episode.permissions|html2txt }}
    </abstract>
    {% endif %}
    {% if episode.bibliography %}
    <abstract displayLabel="Episode Bibliography">
        {{ episode.bibliography|html2txt }}
    </abstract>
    {% endif %}

    <relatedItem type="series">
        {% embed 'export/format/mods/partial/identifier_season.xml.twig' with {
            'season': episode.season,
        } %}{% endembed %}
    </relatedItem>
    <relatedItem type="series">
        {% embed 'export/format/mods/partial/identifier_podcast.xml.twig' with {
            'podcast': episode.podcast,
        } %}{% endembed %}
    </relatedItem>
</mods>
