<?xml version="1.0" encoding="UTF-8"?>
<mods xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd"
        version="3.5">
    <titleInfo>
        <title>{{ episode.podcast.title }} {{ episode.slug }}: {{ episode.title }}</title>
        <partNumber>{{ episode.slug }}</partNumber>
        <partName>{{ episode.podcast.title }}</partName>
        <partNumber>{{ episode.season.title }}</partNumber>
    </titleInfo>
    {% if episode.subTitle %}
    <titleInfo type="alternative">
        <title>{{ episode.subTitle }}</title>
    </titleInfo>
    {% endif %}

    {% set contributions = episode.podcast.contributions|merge(episode.season.contributions) %}
    {% for contribution in contributions %}
        {% set role = contribution.contributorRole %}
        {% set person = contribution.person %}
        <name>
            <namePart>{{ person.fullName }}</namePart>
            {% if person.institution %}
                <affiliation>{{ person.institution}}</affiliation>
            {% endif %}
            <role>
                {% if role.relatorTerm %}
                    <roleTerm type='code' authority='marcrelator'>{{ role.relatorTerm }}</roleTerm>
                {% endif %}
                <roleTerm  type="text" authority="marcrel">{{ role.label }}</roleTerm>
            </role>
        </name>
    {% endfor %}

    {% for contribution in episode.contributions %}
        {% set role = contribution.contributorRole %}
        {% set person = contribution.person %}
        <name>
            <namePart>{{ person.fullName }}</namePart>
            {% if person.institution %}
                <affiliation>{{ person.institution}}</affiliation>
            {% endif %}
            <role>
                {% if role.relatorTerm %}
                    <roleTerm type="code" authority="marcrelator">{{ role.relatorTerm }}</roleTerm>
                {% endif %}
                <roleTerm  type="text" authority="marcrel">{{ role.label }}</roleTerm>
            </role>
            {% if person.bio %}
                <description>{{ person.bio(true) }}</description>
            {% endif %}
        </name>
    {% endfor %}

    <typeOfResource>sound recording-nonmusical</typeOfResource>
    <genre>Podcast</genre>

    <physicalDescription>
        <form authority="marcform">sound recording</form>
        <extent unit="minutes">{{ episode.runTime }}</extent>
        <digitalOrigin>born digital</digitalOrigin>
    </physicalDescription>

    <originInfo>
        <dateIssued>{{ episode.date|date('Y-m-d') }}</dateIssued>
        <issuance>serial</issuance>
        {% if episode.season.publisher %}
            <publisher>{{ episode.season.publisher.name }}</publisher>
        {% elseif episode.podcast.publisher %}
            <publisher>{{ episode.podcast.publisher.name }}</publisher>
        {% endif %}
    </originInfo>

    {% if episode.language %}
        <language>
            <languageTerm type='text'>{{ episode.language }}</languageTerm>
        </language>
    {% endif %}

    <abstract>
        {{ episode.description|html2txt|raw('xml') }}
        {% if episode.permissions %}
            &#10;&#10;{{ episode.permissions|html2txt|raw('xml') }}
        {% endif %}
        {% if episode.bibliography %}
            &#10;&#10;{{ episode.bibliography|html2txt|raw('xml') }}
        {% endif %}
        {% if episode.podcast.copyright %}
            &#10;&#10;{{ episode.podcast.copyright|html2txt|raw('xml') }}
        {% endif %}
        {% if episode.podcast.license %}
            &#10;&#10;{{ episode.podcast.license|html2txt|raw('xml') }}
        {% endif %}
    </abstract>

    {% if episode.subjects|length > 0 %}
        <subject authority="lcsh" authorityURI="http://id.loc.gov/authorities/subjects">
            {% for subject in episode.subjects %}
            <topic >{{ subject }}</topic>
            {% endfor %}
        </subject>
    {% endif %}

    {% if episode.podcast.categories %}
        <subject authorityURI="https://help.apple.com/itc/podcasts_connect/#/itc9267a2f12">
            {% for category in episode.podcast.categories %}
                <topic>{{ category }}</topic>
            {% endfor %}
        </subject>
    {% endif %}
    <accessCondition type="use and reproduction">
        {{ episode.podcast.copyright|raw|striptags }}
    </accessCondition>
    <relatedItem type="series">
        <titleInfo>
            <title>{{ episode.podcast.title }}</title>
            <partNumber>{{ episode.slug }}</partNumber>
        </titleInfo>
    </relatedItem>
    <identifier type="amplify">episode:{{ episode.id }}:episode</identifier>
</mods>
