<?xml version="1.0" encoding="UTF-8"?>
<mods xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd"
        version="3.5">
    {% embed 'export/format/mods/partial/identifier_podcast.xml.twig' with {
        'podcast': podcast,
    } %}{% endembed %}

    {% for contribution in contributions %}
    {% embed 'export/format/mods/partial/contribution.xml.twig' with {
        'person': contribution.person,
        'roles': contribution.roles,
    } %}{% endembed %}
    {% endfor %}

    {% if podcast.language %}
    {% embed 'export/format/mods/partial/language.xml.twig' with {
        'language': podcast.language,
    } %}{% endembed %}
    {% endif %}

    <targetAudience authority="marctarget">{{ podcast.explicit ? 'adult' : 'general' }}<targetAudience>
    <typeOfResource collection="yes">sound recording-nonmusical</typeOfResource>
    <physicalDescription>
        <form authority="marcform">electronic</form>
        <form authority="marcform">sound recording</form>
        <extent>1 podcast; {{ podcast.seasons|length }} season(s); {{ podcast.episodes|length }} episode(s); {{ podcast.images|length }} image file(s)</extent>
        <digitalOrigin>born digital</digitalOrigin>
    </physicalDescription>
    <originInfo>
        <dateCaptured encoding="iso8601">{{ podcast.updated|date('Y-m-d') }}</dateCaptured>
        <issuance>serial</issuance>
        {% if podcast.publisher %}
        <publisher>{{ podcast.publisher.name }}</publisher>
        {% endif %}
    </originInfo>

    <genre authority="lcsh" valueURI="https://id.loc.gov/authorities/genreForms/gf2011026450">Podcasts</genre>
    <genre authority="marcgt">nonmusical sound</genre>
    {% embed 'export/format/mods/partial/subjects_podcast.xml.twig' with {
        'podcast': podcast,
    } %}{% endembed %}

    {% if podcast.copyright %}
    <accessCondition type="use and reproduction">
        {{ podcast.copyright|html2txt }}
    </accessCondition>
    {% endif %}

    {% if podcast.description %}
    <abstract type="summary" displayLabel="Podcast Content description">
        {{ podcast.description|html2txt }}
    </abstract>
    {% endif %}

    {% for season in podcast.seasons %}
    <relatedItem type="constituent">
        {% embed 'export/format/mods/partial/identifier_season.xml.twig' with {
            'season': season,
        } %}{% endembed %}
    </relatedItem>
    {% endfor %}
    {% for episode in podcast.episodes %}
    <relatedItem type="constituent">
        {% embed 'export/format/mods/partial/identifier_episode.xml.twig' with {
            'episode': episode,
        } %}{% endembed %}
    </relatedItem>
    {% endfor %}
</mods>
