<?xml version="1.0" encoding="UTF-8"?>
<mods xmlns="http://www.loc.gov/mods/v3"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-5.xsd"
        version="3.5">
    <identifier type="uri">{{ path('nines_media_image_show', {'id': image.id}) }}</identifier>
    <identifier type="urn">urn:amplify:podcast:{{ season.podcast.id }}:season:{{ season.id }}:image:{{ image.id }}</identifier>

    <titleInfo>
        <title>{{ season.title }}: Image</title>
    </titleInfo>
    <titleInfo type="alternative">
        <title>{{ image.originalName }}</title>
    </titleInfo>

    {% for contribution in contributions %}
    {% embed 'export/format/mods/partial/contribution.xml.twig' with {
        'person': contribution.person,
        'roles': contribution.roles,
    } %}{% endembed %}
    {% endfor %}

    {% if season.podcast.languageCode %}
    {% embed 'export/format/mods/partial/language.xml.twig' with {
        'languageCode': season.podcast.languageCode,
    } %}{% endembed %}
    {% endif %}

    <typeOfResource>still image</typeOfResource>
    <physicalDescription>
        <form authority="marcform">electronic</form>
        <internetMediaType>{{ image.mimeType }}</internetMediaType>
        <extent>1 image file; filesize {{ image.fileSize|byte_size }}; dimensions {{ image.imageWidth }}px x {{ image.imageHeight }}px</extent>
        <digitalOrigin>born digital</digitalOrigin>
    </physicalDescription>
    <originInfo>
        <dateCaptured encoding="iso8601">{{ season.updated|date('Y-m-d') }}</dateCaptured>
        <issuance>serial</issuance>
        {% if season.publisher %}
        <publisher>{{ season.publisher.name }}</publisher>
        {% elseif season.podcast.publisher %}
        <publisher>{{ season.podcast.publisher.name }}</publisher>
        {% endif %}
    </originInfo>

    <genre authority="lcsh" valueURI="https://id.loc.gov/authorities/genreForms/gf2011026450">Podcasts</genre>
    <genre authority="marcgt">nonmusical sound</genre>
    {% embed 'export/format/mods/partial/subjects_podcast.xml.twig' with {
        'podcast': season.podcast,
    } %}{% endembed %}

    {% if season.podcast.copyright %}
    <accessCondition type="use and reproduction">
        {{ season.podcast.copyright|default('')|sanitize_html('export.content_sanitizer') }}
    </accessCondition>
    {% endif %}

    {% if image.description %}
    <abstract type="summary" displayLabel="File Content description">
        {{ image.description|default('')|sanitize_html('export.content_sanitizer') }}
    </abstract>
    {% endif %}
    {% if image.license  %}
    <note displayLabel="File License">
        {{ image.license|default('')|sanitize_html('export.content_sanitizer') }}
    </note>
    {% endif %}

    <relatedItem type="host">
        {% embed 'export/format/mods/partial/identifier_season.xml.twig' with {
            'season': season,
        } %}{% endembed %}
    </relatedItem>
</mods>
