{% form_theme form with [
    '@NinesUtil/form/bootstrap_5_table_of_contents.html.twig',
    '@TetranzSelect2Entity/Form/fields.html.twig',
    'jquery.collection.html.twig',
] %}
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 text-center">
    {% if season.id is null %}
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="{{ path('podcast_show', { 'id': season.podcast.id }) }}" class="btn btn-warning"> Cancel </a>
    {% else %}
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="{{ path('season_show', { 'podcast_id': season.podcast.id, 'id': season.id }) }}" class="btn btn-warning"> Cancel </a>
    {% endif %}
</div>
{{ form_end(form) }}