<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Number</th>
            <th>Podcast</th>
        </tr>
    </thead>
    <tbody>
        {% for season in seasons %}
            <tr>
                <td>
                    <a href="{{ path('season_show', { 'id': season.id }) }}">
                        {{ season.title }}
                    </a>
                </td>
                <td>
                    {{ season.number }}
                </td>

                <td>
                    <a href='{{ path('podcast_show', {'id': season.podcast.id}) }}'>
                        {{ season.podcast }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
