{% extends 'base.html.twig' %}

{% block title %}Podcast List{% endblock %}

{% block pageheader %}
    <h1>Podcast List</h1>
    <p class="count">
        Displaying {{ podcasts|length }} podcasts of {{ podcasts.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('podcast_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}

            <a href="{{ path('podcast_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Website</th>
                <th>Episodes</th>
            </tr>
        </thead>
        <tbody>
            {% for podcast in podcasts %}
                <tr>
                    <td>
                        <a href="{{ path('podcast_show', { 'id': podcast.id }) }}">
                            {{ podcast.title }}
                        </a>
                        {% if podcast.alternativeTitle %}
                            <br/> {{ podcast.alternativeTitle }}
                        {% endif %}
                    </td>
                    <td>
                        {{ podcast.category }}
                    </td>

                    <td>
                        {{ podcast.website }}
                    </td>
                    <td>
                        {{ podcast.episodes|length }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(podcasts) }}
    </div>

{% endblock %}
