{% extends 'base.html.twig' %}

{% block title %}Podcast {{ podcast.title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_index') }}">Podcasts</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ podcast.title }}</li>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('export_new', {'podcast_id': podcast.id }) }}" class="btn btn-primary">
            <i class="bi bi-cloud-arrow-up-fill"></i> Export
        </a>
        <a href="{{ path('podcast_import_new', {'podcast_id': podcast.id }) }}" class="btn btn-primary">
            <i class="bi bi-cloud-arrow-down-fill"></i> RSS Import
        </a>
        <a href="{{ path('podcast_edit', {'id': podcast.id }) }}" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
        <form class="d-inline-block" method="post" action="{{ path('podcast_delete', {'id': podcast.id }) }}" onsubmit="return confirm('Are you sure you want to delete this podcast?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete_podcast" ~ podcast.id) }}">
            <button class="btn btn-danger w-100"><i class="bi bi-trash"></i> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body clearfix">
            <div class="col-auto float-md-end mb-3 ms-md-3" style="max-width: 300px">
                {% for image in podcast.images %}
                    {% embed '@NinesMedia/image/partial/list-item.html.twig' with {
                        'image': image,
                        'showActions': false,
                    } %}
                    {% endembed %}
                {% endfor %}
            </div>
            <h1 class="card-title">{{ podcast.title }}</h1>
            {% if podcast.subTitle %}<h5 class="card-subtitle">{{ podcast.subTitle }}</h5>{% endif %}
            <div class="card-text my-3">{{ podcast.description|default('')|sanitize_html }}</div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-3 g-4">
        <div class="col">
            <h6><i class="bi bi-exclamation-octagon"></i> Explicit</h6>
            {{ podcast.explicit ? 'Yes' : 'No' }}
        </div>
        <div class="col">
            <h6><i class="bi bi-file-text"></i> Primary Language</h6>
            {{ podcast.languageCode|language_name }}
        </div>
        <div class="col">
            <h6><i class="bi bi-broadcast-pin"></i> Podcast Website</h6>
            {% if podcast.website %}
                <a href='{{ podcast.website }}'>{{ podcast.website }}</a>
            {% endif %}
        </div>
        <div class="col">
            <h6><i class="bi bi-rss"></i> Rss</h6>
            {% if podcast.rss %}
                <a href='{{ podcast.rss }}'>{{ podcast.rss }}</a>
            {% endif %}
        </div>
        <div class="col">
            <h6><i class="bi bi-journals"></i> Publisher</h6>
            {% if podcast.publisher %}
                <a href='{{ path("publisher_show", {"id": podcast.publisher.id}) }}'>{{ podcast.publisher }}</a>
            {% endif %}
        </div>
        <div class="col">
            <h6><i class="bi bi-tags"></i> Categories</h6>
            {% for category in podcast.categories %}
                <span class="badge text-bg-primary">{{ category }}</span>
            {% endfor %}
        </div>
        <div class="col">
            <h6><i class="bi bi-people-fill"></i> Contributions</h6>
            {% for contributions in podcast.getContributionsGroupedByPerson %}
                {% set person = (contributions|first).person %}
                <div>
                    <a href='{{ path("person_show", {"id":person.id }) }}'>{{ person.fullName }}</a> -
                    {% for contribution in contributions %}
                        <a href='{{ path("contributor_role_show", {"id":contribution.contributorRole.id }) }}'>{{ contribution.contributorRole.label }}</a>{{ not loop.last ? ',' : '' }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h6><i class="bi bi-list-check"></i> Podcast Status</h6>
            {% embed 'status/partial/badge.html.twig' with {
                'status': podcast.status,
            } %}
            {% endembed %}
        </div>
        <div class="col">
            <h6><i class="bi bi-calendar-event"></i> Created</h6>
            {{ podcast.created|date('Y-m-d') }}
        </div>
        <div class="col">
            <h6><i class="bi bi-calendar-event"></i> Last Updated</h6>
            {{ podcast.updated|date('Y-m-d') }}
        </div>
        <div class="col">
            <h6><i class="bi bi-list-task"></i> License</h6>
            {{ podcast.license|default('')|sanitize_html }}
        </div>
        <div class="col">
            <h6><i class="bi bi-c-circle"></i> Copyright</h6>
            {{ podcast.copyright|default('')|sanitize_html }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg h3">
            Episodes
        </div>
        <div class="col-lg-auto">
            <div class="d-grid gap-2 d-md-block m-2">
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <a href="{{ path('season_new', {'podcast_id': podcast.id }) }}" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> New Season
                    </a>
                    <a href="{{ path('episode_new', {'podcast_id': podcast.id }) }}" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> New Episode
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="nav nav-pills" role="tablist">
        {% for season in podcast.seasons %}
            {% set target_id = 'nav-season-' ~ season.id %}
            {% set id = target_id ~ '-tab' %}
            {% set selected = loop.first %}
            <span class="nav-link {{ selected ? 'active' : '' }}" id="{{ id }}" data-bs-toggle="tab" data-bs-target="#{{ target_id }}" type="button" role="tab" aria-controls="{{ target_id }}" aria-selected="{{ selected }}">
                Season {{ season.number }}
                {% embed 'status/partial/badge.html.twig' with {
                    'status': season.status,

                } %}
                {% endembed %}
            </span>
        {% endfor %}
        {% if podcast.orphanedEpisodes|length > 0 %}
            {% set target_id = 'nav-season-orphaned' %}
            {% set id = target_id ~ '-tab' %}
            {% set selected = podcast.seasons|length == 0 %}
            <span class="nav-link {{ selected ? 'active' : '' }}" id="{{ id }}" data-bs-toggle="tab" data-bs-target="#{{ target_id }}" type="button" role="tab" aria-controls="{{ target_id }}" aria-selected="{{ selected }}">
                Seasonless Episodes
            </span>
        {% endif %}
    </div>
    <div class="card tab-content">
        {% for season in podcast.seasons %}
            {% set id = 'nav-season-' ~ (season.id ?? 'orphaned') %}
            {% set selector_id = id ~ '-tab' %}
            {% set selected = loop.first %}
            <div class="tab-pane fade {{ selected ? 'show active' : '' }}" id="{{ id }}" role="tabpanel" aria-labelledby="{{ selector_id }}" tabindex="{{ loop.index }}">
                <div class="row my-3 mx-1">
                    <div class="col-lg h3">
                        {{ season.title }}
                    </div>
                    <div class="col-lg-auto">
                        <div class="d-grid gap-2 d-md-block m-2 season-actions">
                            <a href="{{ path('season_show', {'podcast_id': podcast.id, 'id': season.id }) }}" class="btn btn-primary">
                                <i class="bi bi-eye"></i> View Season
                            </a>
                            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                                <a href="{{ path('season_edit', {'podcast_id': podcast.id, 'id': season.id }) }}" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i> Edit Season
                                </a>
                                <form class="d-inline-block" method="post" action="{{ path('season_delete', {'podcast_id': podcast.id, 'id': season.id }) }}" onsubmit="return confirm('Are you sure you want to delete this season?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token("delete_season" ~ season.id) }}">
                                    <button class="btn btn-danger w-100"><i class="bi bi-trash"></i> Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% embed 'episode/partial/table.html.twig' with {
                    'episodes': season.episodes,
                } %}
                {% endembed %}
            </div>
        {% endfor %}
        {% if podcast.orphanedEpisodes|length > 0 %}
            {% set id = 'nav-season-orphaned' %}
            {% set selector_id = id ~ '-tab' %}
            {% set selected = podcast.seasons|length == 0 %}
            <div class="tab-pane fade {{ selected ? 'show active' : '' }}" id="{{ id }}" role="tabpanel" aria-labelledby="{{ selector_id }}" tabindex="{{ podcast.seasons|length + 1 }}">
                <div class="row my-3 mx-1">
                    <div class="col-lg h3">
                        Seasonless Episodes
                    </div>
                </div>
                {% embed 'episode/partial/table.html.twig' with {
                    'episodes': podcast.orphanedEpisodes,
                } %}
                {% endembed %}
            </div>
        {% endif %}
    </div>
{% endblock %}
