{% extends 'base.html.twig' %}

{% block title %}People with access to {{ podcast.title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_index') }}">Podcasts</a></li>
    <li class="breadcrumb-item"><a href="{{ path('podcast_show', {'id': podcast.id}) }}">{{ podcast.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">People with Access</li>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('share_new', {'podcast_id': podcast.id}) }}" class="btn btn-primary">
        <i class="bi bi-person-plus-fill"></i> Add
    </a>
{% endblock %}

{% block body %}
    <form class="my-3" method="get">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="q" id="q" value="{{ q }}" />
            <button class="btn btn-primary" type="submit" id='btn-search'>
                <i class="bi bi-search"></i> Search
            </button>
        </div>
    </form>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped table-sm align-middle">
            <caption>
                {{ shares.getTotalItemCount ~ ' ' ~ (q ? 'found' : 'total') }}.
            </caption>
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Shared On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                    <tr>
                        <td>
                            {{ share.user.fullname }}
                        </td>
                        <td>{{ share.created|date('Y-m-d') }}</td>
                        <td>
                            <div class="hstack gap-2 m-2">
                                {% if is_granted('ROLE_ADMIN') or share.user != app.user %}
                                    <form method="post" action="{{ path('share_delete', {'podcast_id': share.podcast.id, 'id': share.id }) }}" onsubmit="return confirm('Are you sure you want to remove access for this user?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token("delete_share" ~ share.id) }}">
                                        <button class="btn btn-danger"><i class="bi bi-person-dash-fill"></i> Remove access</button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(shares) }}
{% endblock %}
