  <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
          <tr>
              <th>ID</th>                                       <th>Public</th>
                                                         <th>Original Name</th>
                                                         <th>Audio Path</th>
                                                         <th>Mime Type</th>
                                                         <th>File Size</th>
                  
          </tr>
      </thead>
      <tbody>
      {% for audio in audio %}
          <tr>
              <td>
                  <a href="{{ path('audio_show', { 'id': audio.id }) }}">
                      {{ audio.id }}
                  </a>
              </td>
              <td>{% if audio.public %}Yes{% else %}No{% endif %}</td>

          
          
              <td>
                  {{ audio.originalName }}
              </td>
          
              <td>
                  {{ audio.audioPath }}
              </td>
          
              <td>
                  {{ audio.mimeType }}
              </td>
          
              <td>
                  {{ audio.fileSize }}
              </td>
          
          </tr>
      {% endfor %}
      </tbody>
  </table>
  